.group-title{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-size: 1.625rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 700;
    line-height: 0.2rem;
    flex: 1 1 100%;
    color: #8994a3;
    margin: 0.5rem 0 1rem;
    text-align: center;
}

.list-statistic{
    outline: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    height: 3.875rem;
    min-height: 3.875rem;
    margin: 0.1563rem 0.3125rem;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0.1875rem 0.4375rem 0px;
    border-radius: 6.25rem 1.5625rem 1.5625rem 6.25rem;
    align-self: stretch;
    transition: all 0.3s linear 0.3s;
    margin-top: 0.625rem;
    -webkit-transition: all 0.3s linear 0.3s;
    -moz-transition: all 0.3s linear 0.3s;
    -ms-transition: all 0.3s linear 0.3s;
    -o-transition: all 0.3s linear 0.3s;
    -webkit-border-radius: 100px 1.5625rem 1.5625rem 6.25rem;
    -moz-border-radius: 100px 1.5625rem 1.5625rem 6.25rem;
    -ms-border-radius: 100px 1.5625rem 1.5625rem 6.25rem;
    -o-border-radius: 100px 1.5625rem 1.5625rem 6.25rem;
}


.card-statistic{
    padding: 0.625rem;
    width: 20.25rem;
    // margin: 0.625rem;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -ms-border-radius: 0.3em;
    -o-border-radius: 0.3em;
}

.card-body{
    padding: 0.625rem;
    max-height: 20rem;
    height: 20rem;
}

.text-list{
    outline: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    flex: 1 1 0%;
    margin: 0px 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.text-list p{
    outline: none;
    margin: 0;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    speak: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: bold;
    font-weight: bold;
    font-variant: bold;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    flex: 1 1 0%;
    font-family: Black;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    color: rgb(48, 26, 107);
    overflow: hidden;
    text-overflow: ellipsis;
    animation-name: scale;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

.avatar{
    outline: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0px 5px;
    width: 46px;
    height: 46px;
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid rgb(1, 36, 66);
    background-color: rgb(234, 241, 253);
    position: relative;
    animation-delay: 50ms;
    animation-name: scale;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.img_avatar{
    // outline: none;
    // text-size-adjust: none;
    // -webkit-font-smoothing: antialiased;
    // speak: none;
    font-style: bold;
    font-weight: bold;
    font-variant: bold;
    // text-transform: none;
    // line-height: 1;
    // user-select: none;
    // -webkit-tap-highlight-color: transparent;
    // margin: 0px 0px 2px;
    // width: 44px;
    // height: 50px;
    // min-height: 48px;
    font-size: 1.8em;
    padding-right: 0.1875rem;
    color: #ff3d71;
    // background-image: url("../../../assets/images/statistics/gold-trophy.png");
    // background-size: cover;
    // background-repeat: no-repeat;
}

@media screen and (max-width:1620px) {
    body {
        font-size: 14px;
    }
}

@media screen and (max-width:1420px) {
    body {
        font-size: 13px;
    }
}

@media screen and (max-width:1190px) {
    body {
        font-size: 12px;
    }
}

@media screen and (max-width:1000px) {
    body {
        font-size: 12px;
    }
}


@media screen and (max-width: 880px) {
    body {
        font-size: 12px;
    }
    .statistics{
        flex-wrap: wrap;
    }
}

@media screen and (max-width:730px) {
    body {
        font-size: 10px;
    }
}

@media screen and (max-width:600px) {
    body {
        font-size: 10px;
    }
}