<!--+ Search bar -->
<h3 class="group-title h4 ng-star-inserted">Categorias</h3>
<nb-layout-header subheader>
  <nb-actions>
    <nb-action icon="plus-outline" nbTooltip="Agregar Categoria" (click)="openDialog(category, true); modalEdit = false; categoryValue = '';"></nb-action>
  </nb-actions>
  <nb-form-field style="width: 50%;">
    <nb-icon nbPrefix icon="search-outline"  pack="eva"></nb-icon>
    <input #autoInput
    nbInput
    type="text" fullWidth fieldSize="medium"
    [(ngModel)]="searchText"
    placeholder="Buscar ..." class="search"/>
  </nb-form-field>
</nb-layout-header>
<hr>
<!--+ End Search bar -->

<!--? Card  -->
<div class="components-list" [nbSpinner]="viewLoading" nbSpinnerStatus="danger" nbSpinnerSize="giant">
    <div class="component-card-wrapper ng-star-inserted" *ngFor="let categoria of categorias |filter:searchText">
      <a class="component-navigate-link" >
            <nb-card title="{{categoria.nombre}}" class="card-product" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">
              <div style="position: absolute;" *ngIf="isDisplay(categoria.nombre)">
                <button nbbutton="" appearance="outline" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-info nb-transition" aria-disabled="false" nbTooltip="Editar"><nb-icon icon="edit-outline" pack="eva" class="icon" (click)="getCategory(categoria._id); openDialog(category, true); changeImg = false; categoryValue = ''"></nb-icon></button>
                <button nbbutton="" appearance="outline" style="right: 0;" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-danger nb-transition" nbTooltip="Eliminar" aria-disabled="false" (click)="deleteCategory(categoria._id)"><nb-icon icon="trash-outline" pack="eva" class="icon"></nb-icon></button>
              </div>
          <nb-card-body style="cursor: pointer;"class="card-body-product" [routerLink]="['/dashboard/products/category', categoria._id]">
            <img class="component-icon" src="{{(categoria._id) ? uploadsUrl + '/' + categoria._id : 'assets/images/components/layout.svg'}}" alt="Layout">
            <label class="component-name">{{categoria.nombre}}</label>
        </nb-card-body>
        </nb-card>
      </a>
    </div>
</div>
<!--? End Card -->

<!--* Modal -->
<ng-template #category let-ref="dialogRef">
  <div class="components-list">
    <div class="component-card-wrapper ng-star-inserted" [nbSpinner]="modalLoading" nbSpinnerStatus="danger">
      <a class="component-navigate-link">
        <nb-card title="" class="card-product">
          <nb-card-body class="card-body-product">
            <div *ngIf="modalEdit && !changeImg" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
              <img class="component-icon" [src]="categorySrc" alt="Layout">
              <button nbbutton="" appearance="outline" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-info nb-transition" aria-disabled="false" (click)="changeImg = true"><nb-icon icon="flip-2-outline" pack="eva" class="icon"></nb-icon>Cambiar imagen</button>
            </div>
            <div *ngIf="!modalEdit || changeImg" class="custom-dropzone" ngx-dropzone [multiple]='false'  [accept]="'image/*'" (change)="onSelectDrag($event)">
              <ngx-dropzone-label>
                <div>
                  <nb-icon icon="image-outline" style="font-size: 3rem;"></nb-icon>
                  <h6>Agrega una imagen</h6>
                </div>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemoveDrag(f)">
              </ngx-dropzone-image-preview>
            </div>
              <label class="component-name"><input #categoryName nbInput placeholder="Nombre de Categoría" type="text" ngModel="{{categoryValue}}" style="text-align:center;" class="component-name"></label>
          </nb-card-body>
          <nb-card-footer>
            <div class="row" style="width: 100%;">
              <div class="col-sm-12" style="display: flex; justify-content: space-between; flex-direction: row;">
                <button nbbutton="" class="toggle-settings appearance-outline size-small shape-rectangle status-danger nb-transition" aria-disabled="false" nbTooltip="Cancelar" (click)="ref.close();"><nb-icon icon="close" pack="eva" class="icon" ></nb-icon></button>
                <button [nbSpinner]="addLoading" nbSpinnerStatus="info" nbbutton="" *ngIf="!modalEdit" class="toggle-settings appearance-outline size-small shape-rectangle status-success nb-transition" aria-disabled="false" nbTooltip="Agregar categoría" (click)="addCategory(categoryName.value, ref)"><nb-icon icon="checkmark-circle" pack="eva" class="icon"></nb-icon></button>
                <button [nbSpinner]="updLoading" nbSpinnerStatus="info" nbbutton="" *ngIf="modalEdit" class="toggle-settings appearance-outline size-small shape-rectangle status-info nb-transition" aria-disabled="false" nbTooltip="Actualizar categoría" (click)="updateCategory(categoryName.value, ref)"><nb-icon icon="checkmark-circle" pack="eva" class="icon"></nb-icon></button>
              </div>
              
            </div>
          </nb-card-footer>
        </nb-card>
      </a>
    </div>
</div>
</ng-template>
<!--* End Modal -->
