<!--+ Search bar -->
<h3 class="group-title h4 ng-star-inserted">Áreas / Almacenes</h3>
<nb-layout-header subheader>
  <nb-actions>
    <nb-action icon="plus-outline" nbTooltip="Agregar almacen"
      (click)="openDialog(warehouse, false); modalEdit = false; warehouseValue = '';"></nb-action>
  </nb-actions>
  <div style="display: flex; flex-direction:row; width: 70%;">
    <button nbButton size="small" nbTooltip="Recargar" (click)="getWarehouses();" status="info"><nb-icon icon="refresh" style="font-size: 1.5rem;"></nb-icon></button>
    <nb-form-field style="width: 100%;">
      <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
      <input #autoInput nbInput type="text" fullWidth fieldSize="medium" [(ngModel)]="searchText" placeholder="Buscar ..."
        class="search" />
    </nb-form-field>
  </div>
</nb-layout-header>
<hr>
<!--+ End Search bar -->

<div class="row" *ngIf="no_data">
    <div class="col-sm-12">
        <div class="text-center" style="padding: 5px; margin-top:5px; border: solid 1px #ddd; background:white; text-align:center;">
            <h4>No hay registros para mostrar</h4>
        </div>
    </div>
</div>

<!-- ? Cards -->
<div style="display: flex; flex-direction: column; position: relative; min-width: 100px; min-height: 100px;">
  <div style="position: absolute; width: 100%; height: 100%;" [nbSpinner]="viewLoading" nbSpinnerStatus="danger" nbSpinnerSize="giant"></div>
  <div class="components-list">
    <div class="component-card-wrapper ng-star-inserted" *ngFor="let almacen of almacenes | filter:searchText  | paginate: { itemsPerPage: itemsPerPage, currentPage: paginaActual} let i = index">
      <nb-card title="{{almacen.nombre}}" class="card-product" (mouseenter)="mouseEnter($event)"
        (mouseleave)="mouseLeave($event)">
        <div style="position: absolute;" *ngIf="isDisplay(almacen.nombre)">
          <!-- <button nbbutton="" appearance="outline"
            class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-info nb-transition"
            aria-disabled="false" nbTooltip="Editar">
            <nb-icon icon="edit-outline" pack="eva" class="icon"
              >
            </nb-icon>
          </button> -->
          <button nbbutton="" appearance="outline" style="right: 0;"
            class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-danger nb-transition"
            nbTooltip="Eliminar" aria-disabled="false" (click)="deleteWarehouse(almacen._id)">
            <nb-icon icon="trash-outline" pack="eva" class="icon"></nb-icon>
          </button>
        </div>
        <nb-card-body style="cursor: pointer;" (click)="getWarehouse(almacen._id); openDialog(warehouse, false); warehouseValue = ''" class="card-body-product">
          <label style="cursor: pointer;" class="component-name">{{almacen.nombre}}</label>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
<div style="padding: 0.3125rem; display: flex; justify-content: end;">
  <pagination-controls [responsive]="true" [autoHide]="true" (pageChange)="paginaActual = $event" previousLabel="Anterior" nextLabel="Siguiente" ></pagination-controls>
</div>
<!-- ? End Cards -->




<!--? Modal -->
<ng-template #warehouse let-data let-ref="dialogRef">
  <nb-card [nbSpinner]="modalLoading" nbSpinnerStatus="danger" nbSpinnerSize="giant">
    <nb-card-header style="display:flex;" [ngStyle]="{'justify-content': 'space-between'}">
      <h6>Almacen</h6>
      <nb-icon (click)="ref.close(); cancelDialog();" icon="close-square-outline"
        style="cursor: pointer; font-size: 2rem;" status="danger"></nb-icon>
    </nb-card-header>
    <nb-card-body>
      <div class="container">
        <div>
          <div class="row">
            <div class="col-sm-6" style="margin-top: 5px">
              <span style="font-size:14px;">Nombre de Almacen</span>
              <input placeholder="Almacen" type="text" id="input-contacto" class="form-control input-sm"
                style="background: #fff;" name="contacto" [(ngModel)]="new_warehouse.nombre">
            </div>
            <div class="col-sm-6" style="margin-top: 5px">
              <span style="font-size:14px;">Alias:</span>
              <input placeholder="Alias" type="text" id="input-empresa" class="form-control input-sm"
                style="background: #fff;" name="empresa" ngDefaultControl [(ngModel)]="new_warehouse.alias">
            </div>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer style="display: flex; justify-content: space-between;">
      <button nbButton (click)="cancelDialog(); ref.close(); " size="small" appearance="outline">Cancelar</button>
      <button [nbSpinner]="addLoading" nbSpinnerStatus="success"
        *ngIf="new_warehouse.nombre != '' && new_warehouse.alias != '' && !modalEdit" nbButton size="small"
        appearance="outline" status="success" (click)="addWarehouse(ref);">
        Agregar almacen
      </button>
      <button [nbSpinner]="updLoading" nbSpinnerStatus="info" *ngIf="modalEdit && changesEdit" nbButton size="small"
        appearance="outline" status="info" (click)="updateWarehouse(new_warehouse, ref);">
        Actualizar almacen
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!--? End Modal-->
