<nb-layout>
    <nb-layout-header fixed>
          <nb-icon (click)="toggleSidebar()" class="sidebar-toggle" icon="menu-2-outline" style="cursor: pointer;"></nb-icon>
          <div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
            <h4>Punto de Venta</h4>
            <img src="../../../../assets/images/logo.png" alt="Logo" style="padding: 5px;"/>
          </div>
            <nb-user [nbContextMenu]="userMenu" nbContextMenuTag="user-menu"
                    [onlyPicture]="userPictureOnly"
                    [name]="usuario.nombre!"
                    [picture]="usuario.picture!">
            </nb-user>
      </nb-layout-header>
    
      <nb-sidebar class="menu-sidebar" responsive start>
        <nb-menu [items]="items"></nb-menu>
      </nb-sidebar>
    
      <nb-layout-column>
        <router-outlet></router-outlet>
      </nb-layout-column>
    
      <nb-layout-footer fixed>
        <b style="text-decoration: underline;">© IronPoint Ingeniers - 2022</b>
      </nb-layout-footer>

      <!-- <pre>{{ usuario | json }}</pre>
    
      <button nbButton status="warning" (click)="logout()">Cerrar sesión</button> -->
</nb-layout>