<div class="components-list">
    <h3 class="group-title h4 ng-star-inserted">Categorias</h3>
    <div class="component-card-wrapper ng-star-inserted row">
        <a class="component-navigate-link" href="/nebular/docs/components/layout">
            <nb-card title="Layout" class="col-sm-4">
                <nb-card-body>
                    <img class="component-icon" src="assets/images/components/layout.svg" alt="Layout">
                    <label class="component-name">Layout</label>
                </nb-card-body>
            </nb-card>
        </a>
        <a class="component-navigate-link" href="/nebular/docs/components/layout">
        <nb-card title="Layout" class="col-sm-4">
            <nb-card-body>
                <img class="component-icon" src="assets/images/components/layout.svg" alt="Layout">
                <label class="component-name">Layout</label>
            </nb-card-body>
        </nb-card>
    </a>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        Column 1
      </div>
      <div class="col-sm-12 col-md-4">
        Column 2
      </div>
      <div class="col-sm-12 col-md-4">
        Column 3
      </div>
    </div>
  </div>