@import url('https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css');

.components-list{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    box-sizing: inherit;
    display: flex;
    flex-wrap: wrap;
    }
    
.group-title{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-size: 1.625rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 700;
    line-height: 0.2rem;
    flex: 1 1 100%;
    color: #8994a3;
    margin: 0.5rem 0 2rem;
    text-align: center;
}

.component-card-wrapper{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    color: #222b45;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    box-sizing: inherit;
    flex: 1 0 auto;
    // width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;
}


.component-icon{
    text-align: left;
    font-style: inherit;
    color: #222b45;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    vertical-align: middle;
    box-sizing: inherit;
    border-style: none;
    max-width: 100%;
    margin-bottom: 1rem;
    height: 4rem;
    width: 64px;
}

.component-name{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    font-style: inherit;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .9375rem;
    line-height: 1.25rem;
    display: inline-block;
    box-sizing: inherit;
    margin-bottom: 0!important;
    color: #8994a3;
    font-weight: 500;
}

.card-body-product{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-align: left;
    font-style: inherit;
    color: #222b45;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    box-sizing: inherit;
    flex: 1;
    overflow: auto;
    position: relative;
    height: 200px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.component-navigate-link{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    box-sizing: inherit;
    color: #36f;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    background-color: transparent;
    text-decoration: none;
}

.card-product:hover{
    text-align: left;
    font-style: inherit;
    box-sizing: inherit;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: .0625rem solid #e4e9f2;
    border-radius: .25rem;
    color: #222b45;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 1.875rem;
    // transition: transform .25s ease;
    // box-shadow: 0 15px 37px #dbe2eb;
    // transform: translateY(-1rem);
}

.card-product{
    text-align: left;
    font-style: inherit;
    display: flex;
    flex-direction: column;
    box-sizing: inherit;
    background-color: #fff;
    border: .0625rem solid #e4e9f2;
    border-radius: .25rem;
    color: #222b45;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin-bottom: 1.875rem;
    box-shadow: 0 4px 27px #e6eaf033;
    transition: transform .25s ease;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    -ms-border-radius: .25rem;
    -o-border-radius: .25rem;
}

.upload {
    width: 300px;
    margin: 30px auto;
}
:host nb-layout-header ::ng-deep nav {
    justify-content: space-between;
}

.wrapper {
    width: 100%;
}

.wrapper .carousel{
    max-width: 100%;
    margin: auto;
    padding: 5px;
}

.carousel .car-card{
    display: none;
    text-align: center;
    border: 2px solid #222;
    border-radius: 5px;
    box-shadow: Opx 4px 15px rgba(0,0,0,0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
}

#tsum-tabs h1 {
    padding: 50px 0;
    font-weight: 400;
    text-align: center;
  }
  
  #tsum-tabs p {
    margin: 0 0 20px;
    line-height: 1.5;
  }
  
  #tsum-tabs main {
    min-width: 320px;
    max-width: 800px;
    padding: 50px;
    margin: 0 auto;
    background: #fff;
  }
  
  #tsum-tabs section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #ddd;
  }
  
  #tsum-tabs .tabs-radio {
    display: none;
  }
  
  #tsum-tabs .tabs_titles {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
  }
  
  #tsum-tabs .tabs_titles:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
  }
  
  #tsum-tabs .tabs_titles[for*='1']:before { content: '\f007'; }
  #tsum-tabs .tabs_titles[for*='2']:before { content: '\f0e0'; }
  #tsum-tabs .tabs_titles[for*='3']:before { content: '\f015'; }
  #tsum-tabs .tabs_titles[for*='4']:before { content: '\f095'; }
  
  #tsum-tabs .tabs_titles:hover {
    color: #888;
    cursor: pointer;
  }
  
  #tsum-tabs input:checked + .tabs_titles {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid cornflowerblue;
    border-bottom: 1px solid #fff;
  }
  
  #tsum-tabs #tab1:checked ~ #content1,
  #tsum-tabs #tab2:checked ~ #content2,
  #tsum-tabs #tab3:checked ~ #content3,
  #tsum-tabs #tab4:checked ~ #content4 {
    display: block;
  }
  
  @media screen and (max-width: 650px) {
    #tsum-tabs .tabs_titles {
      font-size: 0;
    }
    #tsum-tabs .tabs_titles:before {
      margin: 0;
      font-size: 18px;
    }
  }
  
  @media screen and (max-width: 400px) {
    #tsum-tabs .tabs_titles {
      padding: 15px;
    }
}