<p>clientes works!</p>
<!-- <div class="components-list">
    <h3 class="group-title h4 ng-star-inserted">Clientes</h3>
    <div class="component-card-wrapper ng-star-inserted" *ngFor="let cliente of clientes">
      <a class="component-navigate-link" href="/nebular/docs/components/layout">
        <nb-card title="Layout" class="card-product">
          <nb-card-body class="card-body-product">
            <img class="component-icon" src="assets/images/components/layout.svg" alt="Layout">
            <label class="component-name">{{cliente}}</label>
        </nb-card-body>
        </nb-card>
      </a>
    </div>
</div> -->
