<h3 class="group-title h4 ng-star-inserted">Clientes</h3>
<nb-layout-header subheader>
  <nb-actions>
    <nb-action icon="plus-outline" nbTooltip="Agregar Cliente" (click)="openDialog(client, false); modalEdit = false; clientValue = '';"></nb-action>
  </nb-actions>
  <nb-form-field style="width: 50%;">
    <nb-icon nbPrefix icon="search-outline"  pack="eva"></nb-icon>
    <input #autoInput
    nbInput
    type="text" fullWidth fieldSize="medium"
    [(ngModel)]="searchText"
    placeholder="Buscar ..." class="search"/>
  </nb-form-field>
</nb-layout-header>
<hr>

<div class="components-list" [nbSpinner]="viewLoading" nbSpinnerStatus="danger" nbSpinnerSize="giant">
    <div class="component-card-wrapper ng-star-inserted" *ngFor="let cliente of clientes |filter:searchText">
      <nb-flip-card>
        <nb-card-front>
            <nb-card title="{{cliente.nombre_empresa}}" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">
              <div style="position: absolute; right: 0;" *ngIf="isDisplay(cliente.nombre_empresa)">
                <button nbbutton="" appearance="outline" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-info nb-transition" aria-disabled="false" nbTooltip="Editar"><nb-icon icon="edit-outline" pack="eva" class="icon" (click)="getClient(cliente._id); openDialog(client, false); changeImg = false; clientValue = ''"></nb-icon></button>
                <button nbbutton="" appearance="outline" style="right: 0;" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-danger nb-transition" nbTooltip="Eliminar" aria-disabled="false" (click)="deleteClient(cliente._id)"><nb-icon icon="trash-outline" pack="eva" class="icon"></nb-icon></button>
              </div>
              <nb-card-body class="card-body-product">
                <img class="component-icon" src="assets/images/components/layout.svg" alt="{{cliente.nombre_empresa}}">
                <span class="component-name">{{cliente.nombre}}</span>
                <hr>
                <label class="component-name">{{cliente.nombre_empresa}}</label>
            </nb-card-body>
            </nb-card>
          </nb-card-front>
          <nb-card-back>
            <nb-card title="{{cliente.nombre_empresa}}" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">
              <div style="position: absolute; right: 0;" *ngIf="isDisplay(cliente.nombre_empresa)">
                <button nbbutton="" appearance="outline" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-info nb-transition" aria-disabled="false" nbTooltip="Editar"><nb-icon icon="edit-outline" pack="eva" class="icon" (click)="getClient(cliente._id); openDialog(cliente, false); changeImg = false; clientValue = ''"></nb-icon></button>
                <button nbbutton="" appearance="outline" style="right: 0;" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-danger nb-transition" nbTooltip="Eliminar" aria-disabled="false" (click)="deleteClient(cliente._id)"><nb-icon icon="trash-outline" pack="eva" class="icon"></nb-icon></button>
              </div>
            <nb-card-body>
              <div class="container">
                <h3>Dirección:</h3>
                <b>{{cliente.direccion}}</b>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-card-back>
      </nb-flip-card>
    </div>
</div>



<!--? Modal  -->

<ng-template #client let-data let-ref="dialogRef">
  <nb-card [nbSpinner]="modalLoading" nbSpinnerStatus="danger" nbSpinnerSize="giant">
    <nb-card-header style="display:flex;" [ngStyle]="{'justify-content': 'space-between'}">
      <h6>Cliente</h6>
      <nb-icon (click)="ref.close(); cancelDialog();" icon="close-square-outline" style="cursor: pointer; font-size: 2rem;" status="danger"></nb-icon>
  </nb-card-header>
  <nb-card-body>
  <div class="container">
    <div>
    <div class="row">
      <div class="col-sm-6" style="margin-top: 5px">
              <span style="font-size:14px;">Nombre del Cliente</span>
              <input placeholder="Contacto" type="text" id="input-contacto" class="form-control input-sm" style="background: #fff;" name="contacto" [(ngModel)]="new_cliente.nombre">
      </div>
      <div class="col-sm-6" style="margin-top: 5px">
        <span style="font-size:14px;">Nombre de Empresa:</span>
              <input placeholder="Empresa" type="text" id="input-empresa" class="form-control input-sm" style="background: #fff;" name="empresa" ngDefaultControl [(ngModel)]="new_cliente.nombre_empresa">
      </div>
    </div>
    
    <div class="row">
      <div class="col-sm-6" style="margin-top: 5px;">
          <span class="input-group-addon" style="font-size:14px;">Correo:</span>
          <input placeholder="Correo" type="text" id="input-correo" class="form-control input-sm" name="correo" ngDefaultControl [(ngModel)]="new_cliente.correo" style="background: #fff;">
      </div>
      <div class="col-sm-6" style="margin-top: 5px">
          <span class="input-group-addon" style="font-size:14px;">Dirección:</span>
          <input type="text" id="input-direccion" placeholder="Dirección" class="form-control input-sm" name="direccion" ngDefaultControl [(ngModel)]="new_cliente.direccion" style="background: #fff;">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6" style="margin-top: 5px;">
          <span class="input-group-addon" style="font-size:14px;">Número de Teléfono:</span>
          <input placeholder="Teléfono" type="text" id="input-telefono" class="form-control input-sm" name="telefono" ngDefaultControl [(ngModel)]="new_cliente.telefono" style="background: #fff;">
      </div>
    </div>


    </div>
  </div>
  </nb-card-body>
  <nb-card-footer style="display: flex; justify-content: space-between;">
    <button nbButton (click)="cancelDialog(); ref.close(); " size="small" appearance="outline" >Cancelar</button>
    <button [nbSpinner]="addLoading" nbSpinnerStatus="success" *ngIf="new_cliente.nombre != '' && new_cliente.nombre_empresa != '' && !modalEdit" nbButton size="small" appearance="outline" status="success" (click)="addClient(ref);">
        Agregar Cliente
    </button>
    <button [nbSpinner]="updLoading" nbSpinnerStatus="info" *ngIf="modalEdit && changesEdit" nbButton size="small" appearance="outline" status="info" (click)="updateClient(new_cliente, ref);">
        Actualizar Cliente
    </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
