<h3 class="group-title h4 ng-star-inserted">Clientes</h3>
<nb-layout-header subheader>
  <nb-actions>
    <nb-action icon="plus-outline" nbTooltip="Agregar Cliente"
      (click)="openDialog(client, false); modalEdit = false; clientValue = '';"></nb-action>
  </nb-actions>
  <nb-form-field style="width: 50%;">
    <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
    <input #autoInput nbInput type="text" fullWidth fieldSize="medium" [(ngModel)]="searchText" placeholder="Buscar ..."
      class="search" />
  </nb-form-field>
</nb-layout-header>
<hr>


<div style="display: flex; flex-direction: column; position: relative; min-width: 100px; min-height: 100px;">
  <div style="position: absolute; width: 100%; height: 100%;" [nbSpinner]="viewLoading" nbSpinnerStatus="danger" nbSpinnerSize="giant"></div>
  <div class="components-list">
    <div class="component-card-wrapper ng-star-inserted"
      *ngFor="let cliente of clientes |filter:searchText; let i= index">
      <nb-reveal-card [showToggleButton]="false" [ngClass]="isRevealed && i == selectedItem  ? 'revealed' : ''">
        <nb-card-front>
          <nb-card title="{{cliente.nombre_empresa}}" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">
            <div style="position: absolute; right: 0; bottom: 0;" *ngIf="isDisplay(cliente.nombre_empresa)">
              <button nbbutton="" appearance="outline"
                class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-info nb-transition"
                aria-disabled="false" nbTooltip="Editar">
                <nb-icon icon="edit-outline" pack="eva" class="icon"
                  (click)="getClient(cliente._id); openDialog(client, false); changeImg = false; clientValue = ''">
                </nb-icon>
              </button>
              <button nbbutton="" appearance="outline" style="right: 0;"
                class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-danger nb-transition"
                nbTooltip="Eliminar" aria-disabled="false" (click)="deleteClient(cliente._id)">
                <nb-icon icon="trash-outline" pack="eva" class="icon"></nb-icon>
              </button>
            </div>
            <nb-card-body class="card-body-product">
              <div class="top-card" style="display: flex; justify-content: space-between; align-items: center;">
                <div class="img-txt">
                  <img class="component-icon" src="assets/images/components/layout.svg" alt="{{cliente.nombre_empresa}}">
                  <span class="component-name">{{cliente.nombre}}</span>
                </div>
                <nb-actions
                  style="display: flex; flex-wrap: wrap;justify-content: flex-end; flex-direction: column; align-items: end;">
                  <nb-action style="padding: 15px;" nbTooltip="Teléfonos" icon="phone-outline"
                    (click)="reveal_card(i); content_back_card('telefonos');"></nb-action>
                  <nb-action style="padding: 15px;" nbTooltip="Correos" icon="email-outline"
                    (click)="reveal_card(i); content_back_card('correos');"></nb-action>
                  <nb-action style="padding: 15px;" nbTooltip="Direcciones" icon="pin-outline"
                    (click)="reveal_card(i); content_back_card('direcciones');"></nb-action>
                </nb-actions>
              </div>
              <hr style="margin: 10px;">
              <label class="component-name">{{cliente.nombre_empresa}}</label>
            </nb-card-body>
          </nb-card>
        </nb-card-front>
        <nb-card-back style="min-height: 9.75rem;">
          <nb-card title="{{cliente.nombre_empresa}}" (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)">
            <div style="position: absolute; right: 0; bottom: 0;" *ngIf="isDisplay(cliente.nombre_empresa)">
              <button nbbutton="" appearance="outline"
                class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-info nb-transition"
                aria-disabled="false" nbTooltip="Editar">
                <nb-icon icon="edit-outline" pack="eva" class="icon"
                  (click)="getClient(cliente._id); openDialog(client, false); changeImg = false; clientValue = ''">
                </nb-icon>
              </button>
              <button nbbutton="" appearance="outline" style="right: 0;"
                class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-danger nb-transition"
                nbTooltip="Eliminar" aria-disabled="false" (click)="deleteClient(cliente._id)">
                <nb-icon icon="trash-outline" pack="eva" class="icon"></nb-icon>
              </button>
            </div>
            <!-- <nb-card-header>
            </nb-card-header> -->
            <nb-card-body style="min-height: 10.6875rem; max-height: 10.6875rem;">
              <div style="display:flex; justify-content: space-between;">
                <nb-list small *ngIf="info_selected == 'telefonos'" style="max-height: 7.6875rem;">
                  <nb-list-item style="padding: 0.625rem;" *ngFor="let telefono of cliente.telefonos">
                    <span>{{telefono}}</span>
                  </nb-list-item>
                </nb-list>
                <nb-list *ngIf="info_selected == 'correos'" style="max-height: 7.6875rem;">
                  <nb-list-item style="padding: 0.625rem;" *ngFor="let correo of cliente.correos">
                    <span>{{correo}}</span>
                  </nb-list-item>
                </nb-list>
                <nb-list *ngIf="info_selected == 'direcciones'" style="max-height: 7.6875rem;">
                  <nb-list-item style="padding: 0.625rem;" *ngFor="let direccion of cliente.direcciones">
                    <span>{{direccion}}</span>
                  </nb-list-item>
                </nb-list>
                <nb-actions class="right size-tiny">
                  <nb-action style="padding: 0px 10px;" icon="arrow-down-outline" nbTooltip="Ocultar"
                    (click)="reveal_card(i)"></nb-action>
                </nb-actions>
              </div>
            </nb-card-body>
          </nb-card>
        </nb-card-back>
      </nb-reveal-card>
    </div>
  </div>
  <div [hidden]="clientes.length <= 10" style="display: flex; justify-content: flex-end;">
    <jw-pagination [items]="clientes" (changePage)="onChangePage($event)"></jw-pagination>
  </div>
</div>

<!--? Modal  -->
<ng-template #client let-data let-ref="dialogRef">
  <nb-card [nbSpinner]="modalLoading" nbSpinnerStatus="danger" nbSpinnerSize="giant">
    <nb-card-header style="display:flex;" [ngStyle]="{'justify-content': 'space-between'}">
      <h6>Cliente</h6>
      <nb-icon (click)="ref.close(); cancelDialog();" icon="close-square-outline"
        style="cursor: pointer; font-size: 2rem;" status="danger"></nb-icon>
    </nb-card-header>
    <!-- ? Modal Crear -->
    <nb-card-body *ngIf="!modalEdit">
      <div class="container">
        <div>
          <div class="row">
            <div class="col-sm-6" style="margin-top: 5px">
              <span style="font-size:14px;">Nombre del Cliente</span>
              <input placeholder="Contacto" type="text" id="input-contacto" class="form-control input-sm"
                style="background: #fff;" name="contacto" [(ngModel)]="new_cliente.nombre">
            </div>
            <div class="col-sm-6" style="margin-top: 5px">
              <span style="font-size:14px;">Nombre de Empresa:</span>
              <input placeholder="Empresa" type="text" id="input-empresa" class="form-control input-sm"
                style="background: #fff;" name="empresa" ngDefaultControl [(ngModel)]="new_cliente.nombre_empresa">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6" style="margin-top: 5px;">
              <span class="input-group-addon" style="font-size:14px;">Correo:</span>
              <input placeholder="Correo" type="text" id="input-correo" class="form-control input-sm" name="correo"
                ngDefaultControl [(ngModel)]="new_cliente.correo" style="background: #fff;">
            </div>
            <div class="col-sm-6" style="margin-top: 5px">
              <span class="input-group-addon" style="font-size:14px;">Dirección:</span>
              <input type="text" id="input-direccion" placeholder="Dirección" class="form-control input-sm"
                name="direccion" ngDefaultControl [(ngModel)]="new_cliente.direccion" style="background: #fff;">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6" style="margin-top: 5px;">
              <span class="input-group-addon" style="font-size:14px;">Número de Teléfono:</span>
              <input placeholder="Teléfono" type="text" id="input-telefono" class="form-control input-sm"
                name="telefono" ngDefaultControl [(ngModel)]="new_cliente.telefono" style="background: #fff;">
            </div>
          </div>


        </div>
      </div>
    </nb-card-body>
    <!-- ? -->

    <!-- ? Modal Body de Editar -->
    <nb-card-body *ngIf="modalEdit">
      <div id="tsum-tabs">
        <input class="tabs-radio" id="tab1" type="radio" name="tabs" checked>
        <label class="tabs_titles" for="tab1">General</label>

          
        <input class="tabs-radio" id="tab2" type="radio" name="tabs">
        <label class="tabs_titles" for="tab2">Correos</label>
          
        <input class="tabs-radio" id="tab3" type="radio" name="tabs">
        <label class="tabs_titles" for="tab3">Direcciones</label>
          
        <input class="tabs-radio" id="tab4" type="radio" name="tabs">
        <label class="tabs_titles" for="tab4">Teléfonos</label>

        <section id="content1">
          <div class="row">
            <div class="col-sm-6" style="margin-top: 5px">
              <span style="font-size:14px;">Nombre</span>
              <input placeholder="Nombre" type="text" id="input-nombre" class="form-control input-sm"
                style="background: #fff;" name="nombre" [(ngModel)]="active_cliente.nombre">
            </div>
            <div class="col-sm-6" style="margin-top: 5px">
              <span style="font-size:14px;">Nombre de Empresa:</span>
              <input placeholder="Empresa" type="text" id="input-empresa" class="form-control input-sm"
                style="background: #fff;" name="empresa" ngDefaultControl [(ngModel)]="active_cliente.nombre_empresa">
            </div>
          </div>
        </section>
        
        <section id="content2">
          <div class="row">
            <div class="col-sm-12" style="margin-top: 5px;">
              <div style="display: flex;">
                <input placeholder="Nuevo Correo" type="text" id="input-correo" class="form-control input-sm"
                  name="correo" [(ngModel)]="new_cliente.correo" style="background: #fff;">
                <button class="btn btn-primary btn-sm" (click)="addListElement('correo', new_cliente.correo);"
                  style="border: none;"><i class="fas fa-plus"></i></button>
              </div>

              <nb-card size="small" style="max-height: 150px; margin: 0px;">
                <nb-list>
                  <nb-list-item *ngFor="let correo of active_cliente.correos; let old_idx = index"
                    style="justify-content: space-between; padding: 5px 10px;">
                    <label *ngIf="!editList || edit_cliente.correos![old_idx] == undefined"
                      class="component-name">{{correo}}</label>
                    <input nbInput *ngIf="editList && edit_cliente.correos![old_idx] != undefined" type="text"
                      [(ngModel)]="edit_cliente.correos![old_idx]">
                    <div>
                      <button class="btn btn-secondary btn-sm"
                        *ngIf="!editList || edit_cliente.correos![old_idx] == undefined"
                        (click)="edit_cliente.correos![old_idx] = correo; editList = true;" nbTooltip="Editar"><i
                          class="fas fa-pen"></i>
                      </button>
                      <button class="btn btn-danger btn-sm"
                        *ngIf="!editList || edit_cliente.correos![old_idx] == undefined"
                        (click)="delListElement('correo', old_idx)" nbTooltip="Eliminar"><i
                          class="fas fa-trash"></i></button>
                      <button class="btn btn-success btn-sm"
                        *ngIf="editList && edit_cliente.correos![old_idx] != undefined"
                        (click)="editListElement('correo', old_idx, edit_cliente.correos![old_idx])"
                        nbTooltip="Aceptar"><i class="fas fa-check"></i></button>
                      <button class="btn btn-danger btn-sm"
                        *ngIf="editList && edit_cliente.correos![old_idx] != undefined" (click)="cancelEdit()"
                        nbTooltip="Cancelar"><i class="fas fa-times"></i></button>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-card>
            </div>
          </div>
        </section>

        <section id="content3">
          <div class="row">
            <div class="col-sm-12" style="margin-top: 5px;">
              <div style="display: flex;">
                <input placeholder="Nueva Dirección" type="text" id="input-direccion" class="form-control input-sm"
                  name="direccion" ngDefaultControl [(ngModel)]="new_cliente.direccion" style="background: #fff;">
                <button class="btn btn-primary btn-sm" (click)="addListElement('direccion', new_cliente.direccion);"
                  style="border: none;"><i class="fas fa-plus"></i></button>
              </div>

              <nb-card size="small" style="max-height: 150px; margin: 0px;">
                <nb-list>
                  <nb-list-item *ngFor="let direccion of active_cliente.direcciones; let old_idx = index"
                    style="justify-content: space-between; padding: 5px 10px;">
                    <label *ngIf="!editList || edit_cliente.direcciones![old_idx] == undefined"
                      class="component-name">{{direccion}}</label>
                    <input nbInput *ngIf="editList && edit_cliente.direcciones![old_idx] != undefined" type="text"
                      [(ngModel)]="edit_cliente.direcciones![old_idx]">
                    <div>
                      <button class="btn btn-secondary btn-sm"
                        *ngIf="!editList || edit_cliente.direcciones![old_idx] == undefined"
                        (click)="edit_cliente.direcciones![old_idx] = direccion; editList = true;" nbTooltip="Editar"><i
                          class="fas fa-pen"></i>
                      </button>
                      <button class="btn btn-danger btn-sm"
                        *ngIf="!editList || edit_cliente.direcciones![old_idx] == undefined"
                        (click)="delListElement('direccion', old_idx)" nbTooltip="Eliminar"><i
                          class="fas fa-trash"></i></button>
                      <button class="btn btn-success btn-sm"
                        *ngIf="editList && edit_cliente.direcciones![old_idx] != undefined"
                        (click)="editListElement('direccion', old_idx, edit_cliente.direcciones![old_idx])"
                        nbTooltip="Aceptar"><i class="fas fa-check"></i></button>
                      <button class="btn btn-danger btn-sm"
                        *ngIf="editList && edit_cliente.direcciones![old_idx] != undefined" (click)="cancelEdit()"
                        nbTooltip="Cancelar"><i class="fas fa-times"></i></button>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-card>
            </div>
          </div>
        </section>

        <section id="content4">
          <div class="row">
            <div class="col-sm-12" style="margin-top: 5px;">
              <div style="display: flex;">
                <input placeholder="Nuevo Teléfono" type="text" id="input-telefono" class="form-control input-sm"
                  name="telefono" ngDefaultControl [(ngModel)]="new_cliente.telefono" style="background: #fff;">
                <button (click)="addListElement('telefono', new_cliente.telefono);" class="btn btn-primary btn-sm"
                  style="border: none;"><i class="fas fa-plus"></i></button>
              </div>

              <nb-card size="small" style="max-height: 150px; margin: 0px;">
                <nb-list>
                  <nb-list-item *ngFor="let telefono of active_cliente.telefonos; let old_idx = index"
                    style="justify-content: space-between; padding: 5px 10px;">
                    <label *ngIf="!editList || edit_cliente.telefonos![old_idx] == undefined"
                      class="component-name">{{telefono}}</label>
                    <input nbInput *ngIf="editList && edit_cliente.telefonos![old_idx] != undefined" type="text"
                      [(ngModel)]="edit_cliente.telefonos![old_idx]">
                    <div>
                      <button class="btn btn-secondary btn-sm"
                        *ngIf="!editList || edit_cliente.telefonos![old_idx] == undefined"
                        (click)="edit_cliente.telefonos![old_idx] = telefono; editList = true;" nbTooltip="Editar"><i
                          class="fas fa-pen"></i>
                      </button>
                      <button class="btn btn-danger btn-sm"
                        *ngIf="!editList || edit_cliente.telefonos![old_idx] == undefined"
                        (click)="delListElement('telefono', old_idx)" nbTooltip="Eliminar"><i
                          class="fas fa-trash"></i></button>
                      <button class="btn btn-success btn-sm"
                        *ngIf="editList && edit_cliente.telefonos![old_idx] != undefined"
                        (click)="editListElement('telefono', old_idx, edit_cliente.telefonos![old_idx])"
                        nbTooltip="Aceptar"><i class="fas fa-check"></i></button>
                      <button class="btn btn-danger btn-sm"
                        *ngIf="editList && edit_cliente.telefonos![old_idx] != undefined" (click)="cancelEdit()"
                        nbTooltip="Cancelar"><i class="fas fa-times"></i></button>
                    </div>
                  </nb-list-item>
                </nb-list>
              </nb-card>
            </div>
          </div>
        </section>

        
      </div>
    </nb-card-body>

    <nb-card-footer style="display: flex; justify-content: space-between;">
      <button nbButton (click)="cancelDialog(); ref.close(); " size="small" appearance="outline">Cancelar</button>
      <button [nbSpinner]="addLoading" nbSpinnerStatus="success"
        *ngIf="new_cliente.nombre != '' && new_cliente.nombre_empresa != '' && !modalEdit" nbButton size="small"
        appearance="outline" status="success" (click)="addClient(ref);">
        Agregar Cliente
      </button>
      <button [nbSpinner]="updLoading" nbSpinnerStatus="info" *ngIf="modalEdit && changesEdit" nbButton size="small"
        appearance="outline" status="info" (click)="updateClient(active_cliente, ref);">
        Actualizar Cliente
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template>
