<h3 class="group-title h4 ng-star-inserted">Ventas</h3>

<nb-tabset (changeTab)="resetVenta(); today(); getVentas()" #Tabs >
    <!--? Ventas -->
  <nb-tab tabTitle="Ventas" tabIcon="bookmark-outline">
    <nb-layout-header subheader>
      <nb-actions>
        <nb-action icon="funnel" nbTooltip="Filtrar" (click)="openDialog(sale, true); modalEdit = false;"></nb-action>
        <select name="" id=""></select>
      </nb-actions>
      <nb-form-field style="width: 50%;">
        <nb-icon nbPrefix icon="search-outline"  pack="eva"></nb-icon>
        <input #autoInput
        nbInput
        type="text" fullWidth fieldSize="medium"
        [(ngModel)]="searchText"
        placeholder="Buscar una venta ..." class="search"/>
      </nb-form-field>
    </nb-layout-header>
    <hr>

    <nb-card [size]="'medium'">
        <nb-card-header>Ventas</nb-card-header>
        <nb-card-body style="padding: 0 0.9375rem;">
          <nb-list>
            <nb-list-item *ngFor="let sale of sales|filter:searchText" class="sale-item" (click)="viewSale(InfoVenta, sale)">
              <div>
                <b style="min-width: 70px; max-width: 70px;">{{ sale.codigo }}</b>
              </div>
              <div style="min-width: 80px; max-width: 80px;">
                <p style="margin: 0;"> {{sale.cliente?.nombre}}</p>
                <p style="margin: 0; font-weight: bold;"> {{sale.cliente?.nombre_empresa}}</p>
              </div>
              <div>
                <p style="min-width: 30px; max-width: 30px;"><b>Total: </b>{{sale.total_a_pagar|currency}}</p>
              </div>
              <div>
                <p style="min-width: 200px; max-width: 200px;"><b>Fecha: </b>{{ sale.fecha| date:"dd/MM/yyyy" }}</p>
              </div>
              <button nbbutton appearance="outline" style="right: 0;" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-danger nb-transition" nbTooltip="Eliminar" aria-disabled="false" (click)="deleteVenta(sale._id);"><nb-icon icon="trash-2-outline" pack="eva" class="icon"></nb-icon></button>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
    </nb-card>
  </nb-tab>

  <!--? Nueva Venta -->
  <nb-tab tabTitle="Crear Venta" tabIcon="inbox-outline">
    <nb-layout-header subheader style="flex-wrap: wrap;">
      <nb-actions>
        <nb-action icon="person-add" nbTooltip="Agregar Cliente" (click)="openDialog(SearchCustomer, true); modalEdit = false;"></nb-action>
        <nb-action icon="percent" nbTooltip="Añadir Descuento al Total" (click)="discountModal('total',''); modalEdit = false;"></nb-action>
        <nb-action icon="pricetags" nbTooltip="Añadir Iva o Impuestos" (click)="openDialog(TotalTaxes, true); modalEdit = false;"></nb-action>
      </nb-actions>

      <nb-form-field style="width: 30%;">
        <nb-icon nbPrefix icon="search-outline"  pack="eva"></nb-icon>
        <input #productInput
        nbInput
        type="text" fullWidth fieldSize="medium"
        (input)="onChange('product')"
        [nbAutocomplete]="autoProduct"
        [(ngModel)]="product_search"
        placeholder="Buscar un producto ..." class="search"/>
            
        <nb-autocomplete #autoProduct (selectedChange)="onProductSelectChange($event)">
        
          <nb-option *ngFor="let product_option of filteredProductOptions$ | async" [value]="product_option">
            {{ product_option }}
          </nb-option>
        </nb-autocomplete>
      </nb-form-field>
      <button *ngIf="sale_products.length > 0" nbButton status="success" (click)="openDialog(Venta, true)">Cerrar Venta</button>
    </nb-layout-header>

    <hr>
    
    <nb-card [size]="'medium'">
      <nb-card-header style="display: flex; justify-content: space-between;">
        <div *ngIf="new_sale.cliente" style="padding: 5px; margin-top:5px; border: solid 1px #ddd; background:white; text-align:center;"><p class="total_amount" style="margin: 0;">{{new_sale.cliente?.nombre || ''}}</p></div>
        <div>
          <input nbInput placeholder="Elige una fecha" [nbDatepicker]="dateSale" [(ngModel)]="date" (ngModelChange)="changeDate($event)">
          <nb-datepicker #dateSale></nb-datepicker>
        </div>
      </nb-card-header>
      <nb-card-body>
        <nb-list>
          <nb-list-item *ngFor="let product of sale_products" style="display: flex; justify-content: space-around; flex-direction: row; align-items: center; flex-wrap: wrap;">
              <img class="component-icon" src="{{(product._id) ? uploadsUrl + '/' + product._id : 'assets/images/components/layout.svg'}}" alt="Layout">
              <div>
                <p style="margin: 0; font-size: 1.2rem;">{{ product.nombre }}</p>
                <p class="badge-stock" [ngClass]="tagsStock(product) ? 'status-instock' : 'status-outstock'" style="margin:0; padding: 5px; font-size: 0.8rem; font-weight: bold;">{{ product.existencias }} Disponibles</p>
              </div>
              <div>
                <button nbButton ghost status="info" (click)="quantityProduct('dec', product._id)"><nb-icon icon="minus"></nb-icon></button>
                <input nbInput type="number" min="1" placeholder="1" [(ngModel)]="product.cantidad" (ngModelChange)="quantityProduct('input', product._id)" size="tiny" style="max-width: 6.25rem;">
                <button nbButton ghost status="info" (click)="quantityProduct('inc', product._id)"><nb-icon icon="plus"></nb-icon></button>
              </div>
              <p style="margin: 0;">{{product.amount|currency}}</p>
              <button nbbutton apparence="outline" class="toggle-settings appearance-outline size-medium shape-rectangle icon-start icon-end status-warning nb-transition" nbTooltip="Agregar Descuento" aria-disabled="false" (click)="discountModal('product', product)">{{product.discount || 0}}%</button>
              <button nbbutton appearance="outline" style="right: 0;" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-danger nb-transition" nbTooltip="Eliminar" aria-disabled="false" (click)="removeSaleProduct(product._id);"><nb-icon icon="trash-2-outline" pack="eva" class="icon"></nb-icon></button>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer style="display: flex; justify-content: space-around; align-items: center;">
        <p *ngIf="total_taxes > 0 && total_amount > 0" class="total_taxes" style="font-weight: bold;">Iva: {{total_taxes}}%</p>
        <p *ngIf="total_discount > 0 && total_amount > 0" class="total_discount" style="font-weight: bold;">Descuento: {{total_discount}}%</p>
        <p class="total_amount" style="font-weight: bold;">Total: {{total_amount|currency}}</p>
      </nb-card-footer>
    </nb-card>
  </nb-tab>
</nb-tabset>
<ng-template #sale></ng-template>


<!--? Dialog Search Customer -->
<ng-template #SearchCustomer let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="font-size: 1.2em; font-weight: bold; color: #222;">Cliente</nb-card-header>
    <nb-card-body>
      <label for="in-local">Busca un cliente</label>
      <input #customerInput
      nbInput
      type="text" fullWidth fieldSize="medium"
      (input)="onChange('customer')"
      [nbAutocomplete]="autoCustomer"
      [(ngModel)]="customer_search"
      nbTooltip="Presiona enter"
      placeholder="Buscar un cliente ..." class="search"/>
          
      <nb-autocomplete #autoCustomer (selectedChange)="onCustomerSelectChange($event)">
      
        <nb-option *ngFor="let customer_option of filteredCustomerOptions$ | async" [value]="customer_option">
          {{ customer_option }}
        </nb-option>
      
      </nb-autocomplete>
      <hr>
      <button nbButton status="success" (click)="addSaleClient();ref.close()">Agregar cliente</button>
    </nb-card-body>
  </nb-card>
</ng-template>
<!-- ? Fin -->


<!--? Dialog Add Discount -->
<ng-template #AddDiscount let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="font-size: 1.2em; font-weight: bold; color: #222;">Descuento</nb-card-header>
    <nb-card-body>
      <label for="in-local">Agregar descuento</label>
      <hr>
      <nb-button-group (valueChange)="groupDiscounts($event)">
        <button nbButtonToggle value="5">5%</button>
        <button nbButtonToggle value="20">20%</button>
        <button nbButtonToggle value="50">50%</button>
      </nb-button-group>
      <button nbButton status="info" (click)="discountPerProduct(new_sale_product._id); ref.close()">Guardar Descuento</button>
    </nb-card-body>
  </nb-card>
</ng-template>
<!-- ? Fin -->

<!--? Dialog Total Discount -->
<ng-template #TotalDiscount let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="font-size: 1.2em; font-weight: bold; color: #222;">Descuento</nb-card-header>
    <nb-card-body>
      <label for="in-local">Agregar descuento</label>
      <hr>
      <nb-button-group (valueChange)="groupTotalDiscount($event)">
        <button nbButtonToggle value="0" status="warning">0%</button>
        <button nbButtonToggle value="5" status="warning">5%</button>
        <button nbButtonToggle value="10" status="warning">10%</button>
        <button nbButtonToggle value="25" status="warning">25%</button>
        <button nbButtonToggle value="50" status="warning">50%</button>
        <button nbButtonToggle value="75" status="warning">75%</button>
      </nb-button-group>
      <button nbButton status="info" (click)="discountTotalAmount(); ref.close()">Guardar Descuento</button>
    </nb-card-body>
  </nb-card>
</ng-template>
<!-- ? Fin -->


<!--? Dialog Total Taxes -->
<ng-template #TotalTaxes let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="font-size: 1.2em; font-weight: bold; color: #222;">Impuestos</nb-card-header>
    <nb-card-body>
      <label for="in-local">Agregar Impuestos</label>
      <hr>
      <nb-button-group (valueChange)="groupTaxes($event)">
        <button nbButtonToggle value="0" status="warning">0%</button>
        <button nbButtonToggle value="5" status="warning">5%</button>
        <button nbButtonToggle value="10" status="warning">10%</button>
        <button nbButtonToggle value="25" status="warning">25%</button>
        <button nbButtonToggle value="50" status="warning">50%</button>
        <button nbButtonToggle value="75" status="warning">75%</button>
      </nb-button-group>
      <button nbButton status="info" (click)="applyTaxes(); ref.close()">Guardar Impuestos</button>
    </nb-card-body>
  </nb-card>
</ng-template>
<!-- ? Fin -->

<!--? Dialog Venta -->
<ng-template #Venta let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="font-size: 1.2em; font-weight: bold; color: #222;">Cerrar Venta</nb-card-header>
    <nb-card-body>
      <label for="in-local">Pagar en efectivo</label>
      <hr>
      <div style="display: flex; justify-content: space-around; align-items: center;">
        <label style="padding: 10px; margin: 0;">Pago</label>
        <input nbInput type="number" [(ngModel)]="pay" placeholder="0.00">
        <button nbButton ghost status="success" (click)="pay = total_amount"><nb-icon icon="credit-card"></nb-icon></button>
      </div>
      <hr>
      <div style="display: flex; justify-content: space-around; align-items: center;">
        <label style="padding: 10px; margin: 0;">Cambio</label>
        <input nbInput type="number" [(ngModel)]="total_amount-pay">
      </div>
      <hr>
      <button nbButton status="info" (click)="endSale(ref);">Completar Venta</button>
    </nb-card-body>
  </nb-card>
</ng-template>
<!-- ? Fin -->


<!--? Info Venta  -->
<ng-template #InfoVenta let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="font-size: 1.2em; font-weight: bold; color: #222;">Detalle de venta {{sale_details.codigo}}</nb-card-header>
    <nb-card-body>
      <div style="justify-content: space-around;">
        <p>
          <span style="font-size: 1.15em; font-weight: bold;">Fecha: </span> <span style="font-size: 1.1em;">{{sale_details.fecha|date:"dd/MM/yyyy HH:m:ss"}}</span>
        </p>
        <p>
          <span style="font-size: 1.15em; font-weight: bold;">Vendido por: </span> 
          <span style="font-size: 1.1em;">{{sale_details.usuario_venta?.nombre}}</span>
        </p>
        <p *ngIf="sale_details.cliente">
          <span style="font-size: 1.15em; font-weight: bold;">Cliente: </span> 
          <span style="font-size: 1.1em;">{{sale_details.cliente.nombre}}</span>
        </p>
      </div>
      <nb-accordion style="margin-bottom: 5px;">
        <nb-accordion-item>
        <nb-accordion-item-header>Productos:</nb-accordion-item-header>
        <nb-accordion-item-body>
          <ul *ngFor="let product of sale_details.productos;" style="display: flex; flex-direction: row; padding: 0px; flex-wrap: wrap; background-color: cornsilk; margin: 5px 0px;">
            <li class="product-sale-details">{{product.nombre}}</li>
            <li class="product-sale-details">Cantidad: {{product.cantidad}}</li>
            <li class="product-sale-details" *ngIf="product.cantidad && product.precio">Monto: {{product.cantidad * product.precio|currency}}</li>
          </ul>
         </nb-accordion-item-body>
        </nb-accordion-item>
      </nb-accordion>
      <p style="margin-top:1em; position:relative; left: 0; font-size: 1.2em; color: #222; font-weight: bold;">Total de la venta: <b class="status-instock" style="padding: 0.125rem;">{{sale_details.total_a_pagar|currency}}</b></p>
      <button nbButton status="info" (click)="ref.close()">De acuerdo</button>
    </nb-card-body>
  </nb-card>
</ng-template>
<!--? Fin -->