<ng-template #Usuario let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header style="display:flex; justify-content: flex-end;"><nb-icon (click)="ref.close(); cancelDialog();" icon="close-square-outline" style="cursor: pointer; font-size: 2rem; align-self: flex-end;" status="danger"></nb-icon></nb-card-header>
        <nb-card-body>
            <nb-auth-block aria-labelledby="title">
    
                <form #form="" aria-labelledby="title" [formGroup]="addUserForm" (ngSubmit)="addUser()">
                <!-- Se necesito encerrar todo el body en esta row de abajo y ya despues divido en row cada input -->
                <div class="row">
                    <div class="row" style="display: flex; justify-content: center;">
                        <div class="col-lg-10">
                            <div class="form-control-group" fullWidth size="medium">
                                <label class="label" for="input-username">Nombre de usuario:</label>
                                <input nbInput fullWidth formControlName="nombre"  name="username" id="input-username" [ngClass]="addUserFormControls.nombre.invalid ? 'status-danger' : 'status-success'" placeholder="Ingrese su nombre" autofocus>
                                <ng-container *ngIf="addUserForm.controls['nombre'].invalid">
                                <p class="caption status-danger" *ngIf="campoNoValido('nombre')">
                                    El nombre es obligatorio
                                </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row" style="display: flex; justify-content: center;">
                        <div class="col-lg-10">
                            <div class="form-control-group" size="medium">
                                <label class="label" for="input-email">Correo:</label>
                                <input nbInput fullWidth [ngClass]="addUserFormControls.correo.invalid ? 'status-danger' : 'status-success'" formControlName="correo"  name="email" id="input-email" placeholder="Ingrese su correo" autofocus>
                                <ng-container *ngIf="addUserForm.controls['correo'].invalid">
                                <p class="caption status-danger" *ngIf="campoNoValido('correo')">
                                    {{EmailErrorMsg}}
                                </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="display: flex; justify-content: center;">
                        <div class="col-lg-10">
                            <div class="form-control-group" size="medium">
                                <label class="label" for="input-password">Contraseña:</label>
                                <input nbInput fullWidth formControlName="password"  name="password" type="password" [ngClass]="addUserFormControls.password.invalid ? 'status-danger' : 'status-success'" id="input-password" placeholder="Ingrese su contraseña">
                                <ng-container *ngIf="addUserForm.controls['password'].invalid">
                                <p class="caption status-danger" *ngIf="campoNoValido('password')">
                                    {{PasswordErrorMsg}}
                                </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display: flex; justify-content: center;">
                        <div class="col-lg-5">
                            <nb-select>
                                <nb-option *ngFor="let rol of users_roles" [value]='rol' (selectionChange)="getRol($event)">{{rol}}</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>
            </form>
            </nb-auth-block>
        </nb-card-body>
        <nb-card-footer style="display: flex; justify-content: space-between;">
        <button nbButton (click)="cancelDialog(); ref.close()" size="small" appearance="outline" >Cancelar</button>
        <button *ngIf="addUserForm.valid" nbButton size="small" appearance="outline" status="success">
            Agregar Usuario
        </button>
        </nb-card-footer>
    </nb-card>
</ng-template>


<h3 class="group-title h4 ng-star-inserted">Usuarios</h3>
<nb-card>
    <nb-card-header style="display: flex; align-items: center; align-content: center; justify-content: space-around;">
        <nb-form-field>
            <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
            <input nbInput #search class="search" type="text" placeholder="Search..." (keydown.enter)="onSearch(search.value)"> 
        </nb-form-field>
        <button nbButton size="medium" (click)="openDialog(Usuario)"status="success">Agregar <nb-icon icon="plus-outline" style="font-size: 1.5rem;"></nb-icon></button>
    </nb-card-header>

    <nb-card-body>
        
        <!-- <h1 *ngIf="usuarios.length == 0">Aun no hay</h1> -->
        <ng2-smart-table [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
