<ng-template #Usuario let-data let-ref="dialogRef">
    <nb-card [nbSpinner]="modalLoading" nbSpinnerStatus="danger" nbSpinnerSize="giant">
        <nb-card-header style="display:flex;" [ngStyle]="{'justify-content': modalEdit ? 'space-between' : 'flex-end' }">
            <button *ngIf="modalEdit" nbButton size="small" appearance="outline" status="danger" (click)="deleteUser(user_id, ref);" [nbSpinner]="delLoading" nbSpinnerStatus="danger">
                Eliminar Usuario
            </button>
            <nb-icon (click)="ref.close(); cancelDialog();" icon="close-square-outline" style="cursor: pointer; font-size: 2rem;" status="danger"></nb-icon>
        </nb-card-header>
        <nb-card-body>
            <nb-auth-block aria-labelledby="title">
    
                <form #form="" aria-labelledby="title" [formGroup]="addUserForm">
                <!-- Se necesito encerrar todo el body en esta row de abajo y ya despues divido en row cada input -->
                <div class="row">
                    <div class="row" style="display: flex; justify-content: center;">
                        <div class="col-lg-10">
                            <div class="form-control-group" fullWidth size="medium">
                                <label class="label" for="input-username">Nombre de usuario <em class="required-file">*</em></label>
                                <input nbInput fullWidth formControlName="nombre"  name="username" id="input-username" [ngClass]="addUserFormControls.nombre.invalid ? 'status-danger' : 'status-success'" placeholder="Ingrese su nombre" [(ngModel)]="user.nombre" (input)="nameChange($event)">
                                <ng-container *ngIf="addUserForm.controls['nombre'].invalid">
                                <p class="caption status-danger" *ngIf="campoNoValido('nombre')">
                                    El nombre es obligatorio
                                </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    
                    
                    <div class="row" style="display: flex; justify-content: center;">
                        <div class="col-lg-10">
                            <div class="form-control-group" size="medium">
                                <label class="label" for="input-email">Correo <em class="required-file">*</em></label>
                                <input nbInput fullWidth [ngClass]="addUserFormControls.correo.invalid ? 'status-danger' : 'status-success'" formControlName="correo" (input)="emailChange($event)"  name="email" id="input-email" placeholder="Ingrese su correo" [(ngModel)]="user.correo">
                                <ng-container *ngIf="addUserForm.controls['correo'].invalid">
                                <p class="caption status-danger" *ngIf="campoNoValido('correo')">
                                    {{EmailErrorMsg}}
                                </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row" style="display: flex; justify-content: center;" *ngIf="!modalEdit">
                        <div class="col-lg-10">
                            <div class="form-control-group" size="medium">
                                <label class="label" for="input-password">Contraseña <em class="required-file">*</em></label>
                                <input nbInput fullWidth formControlName="password"  name="password" type="password" [ngClass]="addUserFormControls.password.invalid ? 'status-danger' : 'status-success'" id="input-password" placeholder="Ingrese su contraseña" [(ngModel)]="user.password">
                                <ng-container *ngIf="addUserForm.controls['password'].invalid">
                                <p class="caption status-danger" *ngIf="campoNoValido('password')">
                                    {{PasswordErrorMsg}}
                                </p>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display: flex; justify-content: center; flex-direction: row;">
                        <div class="col-lg-5" *ngIf="modalEdit">
                            <nb-toggle [(checked)]="checkedEstado" [nbTooltip]="(checkedEstado) ? 'Activo' : 'Inactivo'" status="success" (checkedChange)="statusChange($event)" labelPosition="end">Estado del Usuario</nb-toggle>
                        </div>
                        <div class="col-lg-5">
                            <nb-select (selectedChange)="getRol($event)" [selected]="selectedRol" nbTooltip="Rol de Usuario">
                                <nb-option value=Usuario>Usuario</nb-option>
                                <nb-option value=Administrador>Administrador</nb-option>
                            </nb-select>
                        </div>
                    </div>
                </div>
            </form>
            </nb-auth-block>
        </nb-card-body>
        <nb-card-footer style="display: flex; justify-content: space-between;">
        <button nbButton (click)="cancelDialog(); ref.close(); " size="small" appearance="outline" >Cancelar</button>
        <button [nbSpinner]="addLoading" nbSpinnerStatus="success" *ngIf="addUserForm.valid && !modalEdit" nbButton size="small" appearance="outline" status="success" (click)="addUser(ref);">
            Agregar Usuario
        </button>
        <button [nbSpinner]="updLoading" nbSpinnerStatus="info" *ngIf="modalEdit && changesEdit" nbButton size="small" appearance="outline" status="info" (click)="updateUser(user_id, ref);">
            Actualizar Usuario
        </button>
        </nb-card-footer>
    </nb-card>
</ng-template>


<h3 class="group-title h4 ng-star-inserted">Usuarios</h3>
<nb-card>
    <nb-card-header style="display: flex; align-items: center; align-content: center; justify-content: space-around;">
        <button nbButton size="medium" nbTooltip="Recargar" (click)="getUsers();" status="info"><nb-icon icon="refresh" style="font-size: 1.5rem;"></nb-icon></button>
        <nb-form-field>
            <nb-icon nbPrefix icon="search-outline"  pack="eva"></nb-icon>
            <input nbInput #search class="search" name="search-user" type="text" placeholder="Buscar..." (input)="onSearch(search.value)"> 
        </nb-form-field>
        <button nbButton size="medium" nbTooltip="Crear nuevo usuario" (click)="openDialog(Usuario, false); modalEdit = false; userReset()"status="success">Agregar <nb-icon icon="plus-outline" style="font-size: 1.5rem;"></nb-icon></button>
    </nb-card-header>

    <nb-card-body>
        
        <!-- <h1 *ngIf="usuarios.length == 0">Aun no hay</h1> -->
        <ng2-smart-table [nbSpinner]="viewLoading" nbSpinnerStatus="danger"   [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event); openDialog(Usuario, false)" style="cursor: pointer;">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>
