.group-title{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-size: 1.625rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 700;
    line-height: 2rem;
    flex: 1 1 100%;
    color: #8994a3;
    margin: 1rem 0 2rem;
    text-align: center;
}