<h3 class="group-title h4 ng-star-inserted">{{title}}</h3>
<!-- ? Card Edit y Table -->
<div style="display: flex; flex-direction: row;">
  <nb-card *ngIf="!product_selected" class="animate__animated animate__fadeIn animate__faster" [nbSpinner]="viewLoading" nbSpinnerStatus="danger" style="width: 100%;">
      <nb-card-header style="display: flex; align-items: center; align-content: center; justify-content: space-around;">
          <nb-form-field>
              <nb-icon nbPrefix icon="search-outline"  pack="eva"></nb-icon>
              <input nbInput #search class="search" name="search-user" type="text" placeholder="Buscar..." nbTooltip="Presiona enter para buscar"  (keydown.enter)="onSearch(search.value)"> 
          </nb-form-field>
          <button nbButton size="medium" nbTooltip="Crear nuevo producto" (click)="openDialog(Producto, false); modalEdit = false;" status="success">Agregar <nb-icon icon="plus-outline" style="font-size: 1.5rem;"></nb-icon></button>
      </nb-card-header>
  
      <nb-card-body>        
          <ng2-smart-table [nbSpinner]="viewLoading" nbSpinnerStatus="danger"   [settings]="settings" [source]="source" (userRowSelect)="onProductRowSelect($event);" style="cursor: pointer;">
          </ng2-smart-table>
      </nb-card-body>
  </nb-card>
  <nb-card *ngIf="product_selected" style="width: 100%;">
    <nb-card-header style="padding: 1rem 1.25rem;" class="animate__animated animate__pulse animate__faster">
      <div style="display: flex; justify-content: space-around; align-items: center;">
        <button nbButton size="small" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end nb-transition" nbTooltip="Regresar">
          <nb-icon class="icon" icon="arrow-back-outline" (click)="product_selected = false"></nb-icon>
        </button>
        <div style="text-align: center; display: flex; justify-content: center; flex-direction: column;">
          <span class="title-product border-section">{{product.nombre}}</span>
          <div >
            <span *ngIf="product.clave_alterna" class="clave-product" [nbPopover]="ClaveAlt" nbPopoverTrigger="hint" nbPopoverPlacement="right" style="cursor: pointer;">{{product.clave}}
            </span>
            <span *ngIf="!product.clave_alterna" class="clave-product">
              {{product.clave}}
            </span>
          </div>
        </div>
        <div>
          <button nbbutton appearance="outline" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-info nb-transition" aria-disabled="false" nbTooltip="Editar" (click)="getClickedProduct(product._id); changeImg = false; openDialog(Producto, false);"><nb-icon icon="edit-outline" pack="eva" class="icon" ></nb-icon></button>
          <button nbbutton appearance="outline" style="right: 0;" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-danger nb-transition" nbTooltip="Eliminar" aria-disabled="false" (click)="deleteProduct(product._id);"><nb-icon icon="trash-outline" pack="eva" class="icon"></nb-icon></button>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body class="animate__animated animate__pulse animate__faster">
      <div class="product-container">
        <div class="data-product">
          <div class="block-data-product">
            <span class="title-data-product">Descripción</span>
            <p class="text-data-product">{{product.descripcion}}</p>
          </div>
        
          <div class="block-data-product">
            <span class="title-data-product">Factor</span>
            <p class="text-data-product">{{product.factor}} {{unit_value.compra}} equivale a {{unit_value.venta}}</p>
          </div>
        
          <div class="block-data-product">
            <span class="title-data-product">Dimensions</span>
            <p class="text-data-product">6.25" x 3.55" x 1.15"</p>
          </div>
        
          <div class="block-data-product">
            <span class="title-data-product">Proveedor</span>
            <p class="text-data-product">{{provider_value|uppercase}}</p>
            <button *ngIf="provider_value !=''" nbButton status="info" size="tiny">Ver proveedor</button>
          </div>
        
          <div class="block-data-product">
            <span class="title-data-product">Includes</span>
            <p class="text-data-product">Wood card tray and 3 refill packs</p>
          </div>
        
          <div class="block-data-product">
            <span class="title-data-product">Considerations</span>
            <p class="text-data-product">Made from natural materials. Grain and color vary with each item.</p>
          </div>
        </div>
        <div style="display: flex; justify-content: center;">
        <img class="product-img" [src]="productSrc" alt="Product">
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer class="animate__animated animate__pulse animate__faster">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="display: flex; align-items: center;">
          <nb-icon icon="compass-outline" style="font-size: 2rem;"></nb-icon>
          <span style="color: #8994a3; border-bottom: #8994a3; padding: 0.3125rem; font-weight: bold; font-size: 1.1em;">{{warehouse_value|uppercase}}</span>
        </div>
        <span style="font-size:1.2em; font-weight: bold;">Cantidad disponible: {{product.existencias}}</span>
      </div>
    </nb-card-footer>
  </nb-card>
</div>
<!-- ? Fin -->


<!--? Dialog Info Factor -->
<ng-template #InfoFactor let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header style="font-size: 1.2em; font-weight: bold; color: #222;">Factor</nb-card-header>
    <nb-card-body>
      <p style="font-size: 1em;">Escribe cuant@s <b>{{new_producto.unidad_venta ? new_producto.unidad_venta : "'unidad de venta'"}}</b> equivale a un <b>{{new_producto.unidad_compra ? new_producto.unidad_compra :  "'unidad de compra'"}}</b></p>
      <nb-accordion style="margin-bottom: 5px;">
        <nb-accordion-item>
         <nb-accordion-item-header>Ver Ejemplo:</nb-accordion-item-header>
         <nb-accordion-item-body>
          <p>Cada caja contiene 25kg</p>
          <p>Unidad de Compra: Caja</p>
          <p>Unidad de Venta: Kg</p>
          <p>El Factor: 25</p>
         </nb-accordion-item-body>
        </nb-accordion-item>
       </nb-accordion>
      <button nbButton status="success" (click)="ref.close()">De acuerdo</button>
    </nb-card-body>
  </nb-card>
</ng-template>
<!-- ? Fin -->

<!--? Dialog Add unit -->
<ng-template #AddUnit let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-body>
      <div class="container" *ngIf="!addUnit">
        <h5 style="text-align: center;">La unidad {{unit_exists}} no existe,  ¿Deseas agregarla?</h5>
        <div style="display: flex; justify-content: space-between; margin: 5px;">
          <button nbButton size="medium" status="success" (click)="addUnit = true;">Si</button>
          <button (click)="addUnit = false; ref.close()" nbButton size="medium" status="danger">Cancelar</button>
        </div>
      </div>
      <div class="container" *ngIf="addUnit">
        <div>
          <div class="row">
            <div class="col-sm-6" style="margin-top: 5px">
              <span style="font-size:14px;">Unidad de medida</span>
              <input placeholder="Unidad de medida" type="text" id="input-contacto" class="form-control input-sm"
                style="background: #fff;" name="contacto" [(ngModel)]="new_unit.nombre">
            </div>
            <div class="col-sm-6" style="margin-top: 5px">
              <span style="font-size:14px;">Abreviacion:</span>
              <input placeholder="Abreviacion" type="text" id="input-empresa" class="form-control input-sm"
                style="background: #fff;" name="empresa" ngDefaultControl [(ngModel)]="new_unit.abreviacion">
            </div>
          </div>
        </div>
        <div style="display: flex; justify-content: space-between; margin: 5px;">
          <button nbButton size="small" status="success" (click)="addUnitFnc(ref); ">Agregar</button>
          <button (click)="ref.close(); addUnit=false;" nbButton size="small" status="danger">Cancelar</button>
        </div>
      </div>
    </nb-card-body>
  </nb-card>
</ng-template>
<!-- ? Fin -->

<!--? Popover Clave Alterna -->
<ng-template #ClaveAlt let-data let-ref="dialogRef">
  <nb-card style="margin: 0; padding: 0 0.3125rem;">
    <nb-card-body style="margin: 0; padding: 0 0.3125rem;">
      <span style="font-size: 1.3em; font-weight: bolder;">Clave Alterna</span>
      <p style="text-align: center; vertical-align: middle; font-size: 1.2em; font-weight: normal; color: #8994a3;">
        {{product.clave_alterna}}</p>
    </nb-card-body>
  </nb-card>
</ng-template>
<!--? Fin -->

<!--? Modal  -->

<ng-template #Producto let-data let-ref="dialogRef" >
  <nb-card class="scrollable" [nbSpinner]="modalLoading" nbSpinnerStatus="danger" nbSpinnerSize="giant">
    <!--+ Modal Header -->
    <nb-card-header style="display:flex; justify-content: space-between;overflow-y: auto;">
      <div [ngClass]="{'border-section': section_general}" (click)="changeDialogSection('general')" style="display: flex; align-items: center; cursor: pointer;">
        <nb-icon [ngClass]="{'status-success': section_general}" icon="globe-outline"  style="cursor: pointer; font-size: 2rem;"></nb-icon>
        <span class="modal-header-text">Generales</span>
      </div>
      <div [ngClass]="{'border-section': section_adicional}" (click)="changeDialogSection('adicional')" style="display: flex; align-items: center; cursor: pointer;">
        <nb-icon [ngClass]="{'status-success': section_adicional}"  icon="layers-outline"  style="cursor: pointer; font-size: 2rem;"></nb-icon>
        <span class="modal-header-text">Adicionales</span>
      </div>
      <div [ngClass]="{'border-section': section_personalizar}" (click)="changeDialogSection('personalizar')" style="display: flex; align-items: center; cursor: pointer;">
        <nb-icon [ngClass]="{'status-success': section_personalizar}"  icon="color-palette-outline"  style="cursor: pointer; font-size: 2rem;"></nb-icon>
        <span class="modal-header-text">Personalizar</span>
      </div>
      <nb-icon (click)="ref.close(); resetProduct();" icon="close-square-outline" style="cursor: pointer; font-size: 2rem;" status="danger"></nb-icon>
  </nb-card-header>
  <!--+ Fin Modal Header -->
  <nb-card-body>
  <div class="container">

    <!--+ Seccion General  -->
    <div *ngIf="section_general">
    <div class="row" style="justify-content: center; max-width:36.25rem;">
      <div class="col-sm-6" style="margin-top: 5px">
              <span style="font-size:14px;">Clave:</span>
              <input placeholder="Clave principal" type="text" id="input-clave" class="form-control input-sm" style="background: #fff;" name="clave" ngDefaultControl [(ngModel)]="new_producto.clave">
      </div>
      <div class="col-sm-6" style="margin-top: 5px">
        <span style="font-size:14px;">Clave Alterna:</span>
              <input placeholder="Clave Alterna" type="text" id="input-clave-alt" class="form-control input-sm" style="background: #fff;" name="clave_alterna" ngDefaultControl [(ngModel)]="new_producto.clave_alterna">
      </div>
    </div>
    
    <div class="row" style="justify-content: center; max-width:36.25rem;">
      <div class="col-sm-6" style="margin-top: 5px;">
          <span class="input-group-addon" style="font-size:14px;">Nombre del Producto:</span>
          <input placeholder="Nombre" type="text" id="input-nom" class="form-control input-sm" name="nombre" ngDefaultControl [(ngModel)]="new_producto.nombre" style="background: #fff;">
      </div>
      <div class="col-sm-6" style="margin-top: 5px">
          <span class="input-group-addon" style="font-size:14px;">Categoría:</span>
          <input type="text" id="input-cat" class="form-control input-sm" name="categoria" ngDefaultControl placeholder="{{current_category}}" disabled style="background: #fff;">
      </div>
    </div>

    <div class="row" style="justify-content: center; max-width:36.25rem;">
      <div class="col-sm-5" style="margin-top: 5px">
            <span class="input-group-addon" style="font-size:14px;">Unidad de Compra:</span>
            <div class="input-group">
              <input class="form-control input-sm" #unitCompraInput
                type="text"
                (input)="onChange('compra')"
                placeholder="Unidad compra"
                [nbAutocomplete]="autoUnitCompra"
                [(ngModel)]="unit_value.compra" />
              
              <nb-autocomplete #autoUnitCompra (selectedChange)="onCompraSelectionChange($event)">
              
                <nb-option *ngFor="let compra_option of filteredCompraOptions$ | async" [value]="compra_option">
                  {{ compra_option }}
                </nb-option>
              
              </nb-autocomplete>
              <div class="input-group-btn">
                <button class="btn btn-primary btn-sm" (click)="addUnit=true;openDialogInfo(AddUnit,false)">+</button>
              </div>
            </div>
      </div>
      <div class="col-sm-5" style="margin-top: 5px;">
          <span class="input-group-addon" style="font-size:14px;">Unidad de Venta:</span>
          <div class="input-group">
            <input class="form-control input-sm" #unitVentaInput
              type="text"
              (input)="onChange('venta')"
              placeholder="Unidad venta"
              [nbAutocomplete]="autoUnitVenta"
              [(ngModel)]="unit_value.venta" />
            
            <nb-autocomplete #autoUnitVenta (selectedChange)="onVentaSelectionChange($event)">
            
              <nb-option *ngFor="let venta_option of filteredVentaOptions$ | async" [value]="venta_option">
                {{ venta_option }}
              </nb-option>
            
            </nb-autocomplete>
            <div class="input-group-btn">
              <button class="btn btn-primary btn-sm" (click)="addUnit=true;openDialogInfo(AddUnit,false)">+</button>
            </div>
          </div>
      </div>
      <div class="col-sm-2" style="margin-top: 5px;">
          <span class="input-group-addon" style="font-size:14px;">Factor:</span>
          <nb-badge text="?" status="info" style="cursor: pointer;" (click)="openDialogInfo(InfoFactor, false)"></nb-badge>
          <input placeholder="1" [(ngModel)]="new_producto.factor" type="text" id="input-desc" class="form-control input-sm" ngModel="1" style="background: #fff;">
      </div>
    </div>

    <div class="row" style="justify-content: center; max-width:34.375rem;">
      <div class="col-sm-4" style="margin-top: 0.3125rem;">
          <span class="input-group-addon" style="font-size:14px;">Precio de Compra</span>
          <div class="input-group" style="align-items: center; display:flex; flex-direction: row;">
            <input type="number" class="form-control input-sm" style="background: #fff;" [placeholder]="0.00" min="0" name="fieldName" ngDefaultControl [(ngModel)]="new_producto.precio_compra">
            <div class="input-group-btn">
              <button class="btn btn-secondary btn-sm" disabled>x {{unit_value.compra_abv|uppercase}}</button>
            </div>
          </div>
      </div>
      <div class="col-sm-4" style="margin-top: 0.3125rem;">
          <span class="input-group-addon" style="font-size:14px;">Precio de Venta</span>
          <div class="input-group" style="align-items: center; display:flex; flex-direction: row;">
            <input type="number" class="form-control input-sm " style="background: #fff;" placeholder="0.00" min="0" name="fieldName" ngDefaultControl [(ngModel)]="new_producto.precio_venta">
            <div class="input-group-btn">
              <button class="btn btn-secondary btn-sm" disabled>x {{unit_value.venta_abv|uppercase}}</button>
            </div>
          </div>
      </div>
      <div class="col-sm-4" style="margin-top: 0.3125rem;">
        <span class="input-group-addon" style="font-size:14px;">Cantidad Actual</span>
        <div class="input-group" style="align-items: center; display:flex; flex-direction: row;">
        <input style="background: #fff;" id="in-cant-actual" class="form-control input-sm" type="number" min="0" placeholder="0" ngDefaultControl [(ngModel)]="new_producto.existencias">
        <div class="input-group-btn">
          <button class="btn btn-secondary btn-sm" disabled>x {{unit_value.compra_abv|uppercase}}</button>
        </div>
        </div>
      </div>
    </div>
    </div>
    <!--* Fin Sección General  -->

    <!--+ Seccion Adicional  -->
    <div *ngIf="section_adicional">
      <div class="row" style="justify-content: center; max-width: 36.25rem;">
        <div class="col-sm-4" style="margin-top: 0.3125rem;">
          <label for="in-minimo">Inventario Mínimo</label>
          <input id="in-minimo" class="form-control input-sm " type="number" min="0" placeholder="0" [(ngModel)]="new_producto.inventario_min">
        </div>
        <div class="col-sm-4" style="margin-top: 0.3125rem;">
          <label for="in-maximo">Inventario Máximo</label>
          <input id="in-maximo" class="form-control input-sm " type="number" min="0" placeholder="0" [(ngModel)]="new_producto.inventario_max">
        </div>
        <div class="col-sm-4" style="display: flex; justify-content: center; align-items: center; margin-top: 0.3125rem;">
          <nb-checkbox class="input-group-addon" id="check-granel" status="info" [(ngModel)]="new_producto.granel">Granel</nb-checkbox>
        </div>
      </div>
      <hr>
      <div class="row" style="max-width: 36.25rem; justify-content: center;">
        <label for="in-local">Selecciona un Almacen</label>
        <input class="form-control input-sm" #warehouseInput
              type="text"
              (input)="onChange('almacen')"
              placeholder="Almacen"
              [nbAutocomplete]="autoWarehouse"
              [(ngModel)]="warehouse_value" />
            
            <nb-autocomplete #autoWarehouse (selectedChange)="onAlmacenSelectionChange($event)">
            
              <nb-option *ngFor="let almacen_option of filteredWarehouseOptions$ | async" [value]="almacen_option">
                {{ almacen_option }}
              </nb-option>
            
            </nb-autocomplete>
      </div>
      <hr>
      <div class="row" style="display: flex; justify-content: flex-start;">
        <label for="in-prov">Selecciona un Proveedor</label>
        <input class="form-control input-sm" #providerInput
                type="text"
                (input)="onChange('prov')"
                placeholder="Proveedor"
                [nbAutocomplete]="autoProvider"
                [(ngModel)]="provider_value" />
              
              <nb-autocomplete #autoProvider (selectedChange)="onProvSelectionChange($event)">
              
                <nb-option *ngFor="let proveedor_option of filteredProviderOptions$ | async" [value]="proveedor_option">
                  {{ proveedor_option }}
                </nb-option>
              
              </nb-autocomplete>
        
      </div>
    </div>
    <!--* Fin Seccion Adicional  -->

    <!--+ Seccion Personalizar  -->
    <div *ngIf="section_personalizar">
      <div class="row" style="justify-content: center;">
        <div class="col-sm-5">
          <div *ngIf="modalEdit && !changeImg" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
            <img class="component-icon" [src]="productSrc" alt="Product">
            <button nbbutton="" appearance="outline" class="toggle-settings appearance-outline size-small shape-rectangle icon-start icon-end status-info nb-transition" aria-disabled="false" (click)="changeImg = true"><nb-icon icon="flip-2-outline" pack="eva" class="icon"></nb-icon>Cambiar imagen</button>
          </div>
          <div *ngIf="!modalEdit || changeImg" class="custom-dropzone" ngx-dropzone [multiple]='false'  [accept]="'image/*'" (change)="onSelectDrag($event)">
            <ngx-dropzone-label>
              <div>
                <nb-icon icon="image-outline" style="font-size: 3rem;"></nb-icon>
                <h6>Agrega una imagen</h6>
              </div>
            </ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemoveDrag(f)">
            </ngx-dropzone-image-preview>
          </div>
        </div>
      </div>
      <hr>
      <div class="row" style="display: flex; justify-content: flex-start;">
        <nb-select-label for="desc" style="padding: 0px;">Descripción o características del producto</nb-select-label>
        <textarea id="desc" nbInput fullWidth placeholder="Escribe algunas características" [(ngModel)]="new_producto.descripcion" style="resize: none;"></textarea>
      </div>
    </div>
    <!--* Fin Seccion Personalizar  -->
  </div>
  </nb-card-body>
  
  <nb-card-footer style="display: flex; justify-content: space-between;">
    <button nbButton (click)="ref.close(); resetProduct();" size="small" appearance="outline" >Cancelar</button>
    <button [nbSpinner]="addLoading" nbSpinnerStatus="success" *ngIf="new_producto.nombre != '' && new_producto.nombre != '' && !modalEdit" nbButton size="small" appearance="outline" status="success" (click)="addProduct(ref);">
        Agregar Producto
    </button>
    <button [nbSpinner]="updLoading" nbSpinnerStatus="info" *ngIf="modalEdit && changesEdit" nbButton size="small" appearance="outline" status="info" (click)="updateProduct(product._id!, ref);">
        Actualizar Producto
    </button>
    </nb-card-footer>
  </nb-card>
</ng-template>