<h3 class="group-title h4 ng-star-inserted">{{title}}</h3>
<nb-card [nbSpinner]="viewLoading" nbSpinnerStatus="danger">
    <nb-card-header style="display: flex; align-items: center; align-content: center; justify-content: space-around;">
        <nb-form-field>
            <nb-icon nbPrefix icon="search-outline"  pack="eva"></nb-icon>
            <input nbInput #search class="search" name="search-user" type="text" placeholder="Buscar..." nbTooltip="Presiona enter para buscar"  (keydown.enter)="onSearch(search.value)"> 
        </nb-form-field>
        <button nbButton size="medium" nbTooltip="Crear nuevo producto" (click)="openDialog(Producto, false)" status="success">Agregar <nb-icon icon="plus-outline" style="font-size: 1.5rem;"></nb-icon></button>
    </nb-card-header>

    <nb-card-body>        
        <ng2-smart-table [nbSpinner]="viewLoading" nbSpinnerStatus="danger"   [settings]="settings" [source]="source" (userRowSelect)="onUserRowSelect($event);" style="cursor: pointer;">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>



<!--+ Modal Template +-->
<ng-template #Producto let-data let-ref="dialogRef">
  <nb-card [nbSpinner]="modalLoading" nbSpinnerStatus="danger" nbSpinnerSize="giant">
      <nb-card-header style="display:flex;" [ngStyle]="{'justify-content': modalEdit ? 'space-between' : 'flex-end' }">
          <button *ngIf="modalEdit" nbButton size="small" appearance="outline" status="danger" (click)="deleteProduct('', ref);" [nbSpinner]="delLoading" nbSpinnerStatus="danger">
              Eliminar Usuario
          </button>
          <nb-icon (click)="ref.close(); cancelDialog();" icon="close-square-outline" style="cursor: pointer; font-size: 2rem;" status="danger"></nb-icon>
      </nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-lg-12">
            <div class="row" size="medium">
              <div class="col-lg-5">
                <label class="label" for="input-clave" id="input-clave">Clave:</label>
                  <input type="password" nbInput  placeholder="Password">
              </div>
              <div class="col-lg-5">
                <label class="label" for="input-clave-alt" id="input-clave-alt">Clave Alterna:</label>
                  <input type="text" nbInput  shape="rectangle" placeholder="Rectangle border">
              </div>
            </div>
            <div class="row" size="medium">
              <div class="col-lg-5">
                <label class="label" for="input-nombre" id="input-nombre">Nombre:</label>
                  <input type="password" nbInput  placeholder="Password">
              </div>
              <div class="col-lg-5">
                <label class="label" for="input-desc" id="input-desc">Descripcion:</label>
                  <input type="text" nbInput  shape="rectangle" placeholder="Rectangle border">
              </div>
          </div>
            <div class="row" size="medium">
              <div class="col-lg-3">
                <label class="label" for="input-uni-comp" id="input-uni-comp">Unidad de compra:</label>
                  <input type="text" nbInput  shape="rectangle" placeholder="Rectangle border">
              </div>
              <div class="col-lg-3">
                <label class="label" for="input-uni-ven" id="input-uni-ven">Unidad de venta:</label>
                  <input type="text" nbInput  shape="rectangle" placeholder="Rectangle border">
              </div>
              <div class="col-lg-3">
                <label class="label" for="input-factor" id="input-factor">Factor:</label>
                  <input type="text" nbInput  shape="rectangle" placeholder="Rectangle border">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-5">
                <label class="label" for="input-categoria" id="input-categoria">Categoria:</label>
                <nb-select (selectedChange)="getCategory($event)" [selected]="selectedCategory" placeholder="Categoria" nbTooltip="Categoria">
                    <nb-option value=Usuario>Tornillos</nb-option>
                    <nb-option value=Administrador>Herramientas</nb-option>
                </nb-select>
              </div>
              <div class="col-lg-5">
                <label class="label" for="input-img" id="input-img">Imagen:</label>
                <input type="file" nbInput  shape="rectangle" placeholder="Rectangle border">
              </div>
            </div>
        </div>
        </div>
      </nb-card-body>
      <nb-card-footer style="display: flex; justify-content: space-between;">
      <button nbButton (click)="cancelDialog(); ref.close(); " size="small" appearance="outline" >Cancelar</button>
      <button [nbSpinner]="addLoading" nbSpinnerStatus="success" *ngIf="addProductForm.valid && !modalEdit" nbButton size="small" appearance="outline" status="success" (click)="addProduct(ref);">
          Agregar Usuario
      </button>
      <button [nbSpinner]="updLoading" nbSpinnerStatus="info" *ngIf="modalEdit && changesEdit" nbButton size="small" appearance="outline" status="info" (click)="updateProduct('', ref);">
          Actualizar Usuario
      </button>
      </nb-card-footer>
  </nb-card>
</ng-template>


