  .group-title{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-size: 1.625rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 700;
    line-height: 0.2rem;
    flex: 1 1 100%;
    color: #8994a3;
    margin: 0.5rem 0 2rem;
    text-align: center;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
  
.colored-toast .swal2-title {
    color: white;
  }
  
  .colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }
  
.solved {
    background: rgba(86, 241, 86, 0.5);
}
.aborted {
    background: rgba(243, 69, 69, 0.5);
}
.upload {
  width: 300px;
  margin: 30px auto;
}

.border-section{
  border-bottom: 2px solid rgba(86, 241, 86, 0.5);
}

.tag {
  display: inline-block;
  border-radius: 3px;
  padding: .2em .5em .3em;
  border-radius: 2px;
  // background: var(#717790);
  color: var(#b2becd);
  font-weight: 600;
  margin: .25em .1em
}

h1.tag {
  margin-left: 0;
  margin-right: 0
}

.tag-sm {
  font-size: .7em;
  display: inline-block;
  letter-spacing: .15ch;
  font-weight: 400
}

.tag-lg {
  font-size: 1.2em;
  border-radius: 4px
}

.tag-bg {
  background: var(#717790)
}

.component-icon{
  text-align: left;
  font-style: inherit;
  color: #222b45;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  vertical-align: middle;
  box-sizing: inherit;
  border-style: none;
  max-width: 100%;
  margin-bottom: 1rem;
  height: 4rem;
  width: 64px;
}

.product-img {
    width: 20em;
    height: 20em;
    box-shadow: 0em 0.1875em 0.375em var(#222b87);
    border: 0.0625em solid #707070;
    border-radius: 0.1875rem;
    object-fit: cover;
    filter: brightness(70%);
    -webkit-filter: brightness(70%);
    -webkit-border-radius: 0.1875rem;
    -moz-border-radius: 0.1875rem;
    -ms-border-radius: 0.1875rem;
    -o-border-radius: 0.1875rem;
}

.product-img:hover {
    filter: brightness(100%);
    -webkit-filter: brightness(100%);
}


:host ::ng-deep .badge-stock{
  font-family: BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  box-sizing: border-box;
  border-radius: 2px;
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}

:host ::ng-deep .status-instock{
  background: #C8E6C9;
  color: #256029;
}

:host ::ng-deep  .status-lowstock{
  background: #FEEDAF;
  color: #8a5340;
}

:host ::ng-deep .status-outstock{
  background: #FFCDD2;
  color: #c63737;
}

:host ::ng-deep .status-fullstock{
  background: #cdf9ff;
  color: #374cc6;
}

// .scrollable { 
//   overflow: auto; display: flex; flex-direction: column;
// }

.data-product{
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: inherit;
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  --tw-bg-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2,minmax(0,2fr));
  row-gap: 1rem;
  column-gap: 2rem;
}

.block-data-product{
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: inherit;
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  --tw-bg-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  border-top-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  padding-top: 1rem;
}

.text-data-product{
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  --tw-bg-opacity: 1;
  --tw-border-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  margin: 0;
  margin-top: .5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}
.title-data-product{
  color: #232; font-size: 1.2em; font-weight:bolder;
}

.product-container{
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: inherit;
  font-family: Inter var,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  -webkit-font-smoothing: antialiased;
  --tw-bg-opacity: 1;
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  align-items: center;
  column-gap: 2rem;
  row-gap: 2rem;
  max-width: 80rem;
  grid-template-columns: 2fr 1fr;
  padding-left: 2rem;
  padding-right: 2rem;
}

.title-product{
  color: --primary; 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2em;
  margin: 0 .2em;
  padding-bottom: 0.2em;
  font-weight: bolder;
}

.clave-product{
  color: #8994a3;
  font-weight: bolder;
  margin: 0 0.2em;
  font-size: 1.2em;
}

#modal-template{
  overflow: auto;
  display: flex;
  flex-direction: column;
}




@media screen and (max-width:1620px) {
  body {
      font-size: 14px;
  }


}

@media screen and (max-width:1420px) {
  body {
      font-size: 13px;
  }


}

@media screen and (max-width:1190px) {
  body {
      font-size: 12px;
  }

}

@media screen and (max-width:1000px) {
  body {
      font-size: 12px;
  }
}

@media screen and (max-width:850px) {
  body {
      font-size: 10px;
  }
  .product-container{
    max-width: 42rem;
    grid-template-columns: repeat(1,minmax(0,1fr));
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .product-img {
    width: 14em;
    height: 14em;
  }
  .title-product{
    font-size: 1.2em;
  }
}


@media screen and (max-width:730px) {
  body {
      font-size: 10px;
  }
  .product-container{
    max-width: 42rem;
    grid-template-columns: repeat(1,minmax(0,1fr));
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .product-img {
    width: 14em;
    height: 14em;
  }
  .title-product{
    font-size: 1.2em;
  }
  .data-product{
    grid-template-columns: repeat(1,minmax(0,2fr));
  }
}

@media screen and (max-width:600px) {
  body {
    font-size: 10px;
  }
  .product-container{
    max-width: 42rem;
    grid-template-columns: repeat(1,minmax(0,1fr));
    align-items: center;
    column-gap: 2rem;
    row-gap: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .product-img {
    width: 14em;
    height: 14em;
  }
  .title-product{
    font-size: 1.2em;
  }
  .modal-header-text{
    display: none;
  }
  .data-product{
    grid-template-columns: repeat(1,minmax(0,2fr));
  }
}