  .group-title{
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
    font-size: 1.625rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 700;
    line-height: 0.2rem;
    flex: 1 1 100%;
    color: #8994a3;
    margin: 0.5rem 0 2rem;
    text-align: center;
}

.colored-toast.swal2-icon-success {
    background-color: #a5dc86 !important;
  }
  
.colored-toast .swal2-title {
    color: white;
  }
  
  .colored-toast .swal2-close {
    color: white;
  }
  
  .colored-toast .swal2-html-container {
    color: white;
  }
  
.solved {
    background: rgba(86, 241, 86, 0.5);
}
.aborted {
    background: rgba(243, 69, 69, 0.5);
}
.upload {
  width: 300px;
  margin: 30px auto;
}

.border-section{
  border-bottom: 2px solid rgba(86, 241, 86, 0.5);
}

.tag {
  display: inline-block;
  border-radius: 3px;
  padding: .2em .5em .3em;
  border-radius: 2px;
  // background: var(#717790);
  color: var(#b2becd);
  font-weight: 600;
  margin: .25em .1em
}

h1.tag {
  margin-left: 0;
  margin-right: 0
}

.tag-sm {
  font-size: .7em;
  display: inline-block;
  letter-spacing: .15ch;
  font-weight: 400
}

.tag-lg {
  font-size: 1.2em;
  border-radius: 4px
}

.tag-bg {
  background: var(#717790)
}

.component-icon{
  text-align: left;
  font-style: inherit;
  color: #222b45;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: .9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  vertical-align: middle;
  box-sizing: inherit;
  border-style: none;
  max-width: 100%;
  margin-bottom: 1rem;
  height: 4rem;
  width: 64px;
}